[submodule "projects/.github"]
	path = projects/.github
	url = https://github.com/Eventiva/.github.git
	branch = develop
[submodule "projects/contributors"]
	path = projects/contributors
	url = https://github.com/Eventiva/contributors.git
	branch = develop
[submodule "projects/Directory"]
	path = projects/website/Directory
	url = https://github.com/Eventiva/Directory.git
	branch = develop
[submodule "projects/FMS"]
	path = projects/FMS
	url = git@github.com:Eventiva/FMS.git
[submodule "projects/frappe_docker"]
	path = projects/frappe_docker
	url = git@github.com:frappe/frappe_docker.git
[submodule "projects/discord"]
	path = projects/bot/discord
	url = git@github.com:Eventiva/discord.git
[submodule "projects/vetting"]
	path = projects/modules/vetting
	url = git@github.com:Eventiva/vetting.git
[submodule "projects/Teamspeak-Integration"]
	path = projects/modules/teamspeak_integration
	url = git@github.com:Eventiva/Teamspeak-Integration.git
[submodule "projects/Segment_Connect"]
	path = projects/modules/segment_connect
	url = git@github.com:Eventiva/Segment_Connect.git
[submodule "projects/justice"]
	path = projects/modules/justice
	url = git@github.com:Eventiva/justice.git
[submodule "projects/incident_management"]
	path = projects/modules/incident_management
	url = git@github.com:Eventiva/incident_management.git
[submodule "projects/grand_theft_auto"]
	path = projects/modules/grand_theft_auto
	url = git@github.com:Eventiva/grand_theft_auto.git
[submodule "projects/gaming"]
	path = projects/modules/gaming
	url = git@github.com:Eventiva/gaming.git
[submodule "projects/fleet_management"]
	path = projects/modules/fleet_management
	url = git@github.com:Eventiva/fleet_management.git
[submodule "projects/discord_integration"]
	path = projects/Modules/discord_integration
	url = git@github.com:Eventiva/discord_integration.git
[submodule "projects/custody"]
	path = projects/Modules/custody
	url = git@github.com:Eventiva/custody.git
[submodule "projects/Control-Centre"]
	path = projects/modules/control_centre
	url = git@github.com:Eventiva/Control-Centre.git
