[submodule "projects/.github"]
	path = projects/.github
	url = https://github.com/Eventiva/.github.git
	branch = develop
[submodule "projects/contributors"]
	path = projects/contributors
	url = https://github.com/Eventiva/contributors.git
	branch = develop
[submodule "projects/Directory"]
	path = projects/Directory
	url = https://github.com/Eventiva/Directory.git
	branch = develop
[submodule "projects/FMS"]
	path = projects/FMS
	url = git@github.com:Eventiva/FMS.git
