@backend:registry=https://node-registry.bit.cloud
@bitdesign:registry=https://node-registry.bit.cloud
@bitdev:registry=https://node-registry.bit.cloud
@eventiva:registry=https://node-registry.bit.cloud
@frontend:registry=https://node-registry.bit.cloud
@resnovas:registry=https://node-registry.bit.cloud
@teambit:registry=https://node-registry.bit.cloud
@tgtgamer:registry=https://node-registry.bit.cloud
//node-registry.bit.cloud/:_authToken=BIT_CLOUD_AUTH_TOKEN
always-auth=true
