@eventiva:registry=https://node-registry.bit.cloud
@teambit:registry=https://node-registry.bit.cloud
@bitdev:registry=https://node-registry.bit.cloud
@bit:registry=https://node-registry.bit.cloud
//node-registry.bit.cloud/:_authToken=BIT_CLOUD_AUTH_TOKEN
always-auth=true