# This file itself is owned by members who are assigned the Project Admin role in this project.
CODEOWNERS "Project Admin"

# All .adoc's should be owned by the "Technical Writer" and "Customer Success Manager"
*.adoc "Technical Writer" "Customer Success Manager"
*.md "Technical Writer" "Customer Success Manager"

# All .spec.ts should be owned by the "Quality Assurance" and "Project Member"
*.spec.ts "Quality Assurance"

# Teams for use:
# Application Engineering
# Board of Directors
# Client Retention
# Client Retention / Account Management
# Client Retention / Retention Facilitation
# Continuous Deployment
# Customer Interface & Experience
# Customer Interface & Experience / Next.JS Experience
# Customer Interface & Experience / Qwik Experience
# Customer Interface & Experience / React Experience
# Data flow & Processing
# Digital Robotics
# Digital Robotics / DiscordJS
# Digital Robotics / GitHub
# Eventiva For Gaming
# Eventiva For Gaming / GTA 5 and Beyond
# Network Management
# Sales Coordination
# Sales Coordination / Enrolment Facilitation
# Sales Coordination / Event Facilitation
# Workflow Management


.devcontainer "Workflow Management"
.github "Workflow Management"
.space "Workflow Management"
.vscode "Workflow Management"
scripts "Workflow Management"
projects/discordjs/**/*.ts "DiscordJS"
projects/entities/**/*.ts "Data flow & Processing"
projects/envs/**/*.ts "Application Engineering"
projects/integrations/**/*.ts "Application Engineering"
projects/modules/**/*.ts "Application Engineering"
projects/orm/**/*.ts "Data flow & Processing"
projects/platforms/**/*.ts "Continuous Deployment"
projects/utilities/**/*.ts "Application Engineering"
projects/workflows/**/*.ts "Workflow Management"
# projects/<folder>/**/*.ts "Operational Core Deployments"

# Individual Files
.coderabbit.yaml "Project Admin"
.editorconfig "Project Admin"
Eventiva Cooperation Commitment.md "Project Admin"
LICENSE "Project Admin"
package.json "Project Admin"
sweep.yaml "Project Admin"
workspace.jsonc "Project Member"
