module eventiva.env

amends "base.pkl"

NODE_ENV = "prod"

OCO_OPENAI_API_KEY = NULL

DISCORD {
    TOKEN = NULL
    CLIENT_ID = NULL
    CLIENT_SECRET = NULL
    GUILD_ID = NULL
    LOGGER {
        LEVEL = "trace"
    }
    AGENTS {
        ["BOT"] {
            TOKEN = NULL
            CLIENT_ID = NULL
            CLIENT_SECRET = NULL
            GUILD_ID = NULL
        }
    }
}
